*{
    font-family: 'Mina', sans-serif;
}
body{
    background-image:  url("../images/background.jpg");
}
img{
    display:flex;
    margin:auto;    
}
p{
    font-size: 17px;
    font-weight: 500; 
}
h2{
    margin-bottom: 30px;
}
h4{
    font-size: 1.1rem;
}
.pokemon-image{
    max-height: 360px;
}
.jumbotron{
    background: rgb(255, 255, 186);
    opacity: .75;
    padding-top: 10px;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
.spaceholder{
    visibility: hidden;
}
#left-side{
    padding-top:15px;
}
#won-or-lost{
    font-family: 'Rammetto One', cursive;
    font-weight: 600;
    color: blue;
}
#loss-text{
    color: red;
}
#logo{
    max-height:260px;
}
#guessedLetters{
    color: red;
}